.nav {
  list-style-type: none;
  margin: 0;
  font-size: 20px;
  background-color: rgb(0,0,60);
  border-bottom: 5px solid black;
  height: auto;
  padding: 50px 0px 0px 0px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}  

nav h4 {
  display: inline-block;
  color: #1C86FF;
  padding-left: 20%;
  font-size: 16px;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding-right: 20%;
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 0;
}

nav ul li a {
  color: white;
  background-color: grey;
  padding: 10px 10px 12px 10px;
  margin: 0;
  border-radius: 25% 25% 0% 0%;
}

nav ul li a:hover {
  background-color: #1C86FF;
  color: white;
  text-decoration: none;
  padding: 20px 12px 12px 12px;
}

.well_size {
  width: 75%;
  padding-top: 70px;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.cols {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.border_img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
}

.text_mod2 {
  font-size: 16px;
  color: white;
}
  
.text_mod {
  font-size: 14px;
  color: white;
  padding-top:15%
}

.line_sizing {
  height: 8px;
  background: white;
  color: white;
  border: 0;
}

#home{
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding: 70px 50px 50px 50px;
  background-color: rgb(70,70,70);
  color: white;
  position: relative;
  height: auto;
}

.heading {
  font-size: 26px;
}

.project_btn {
  background-color: rgb(0,0,60);
  color: white;
}

.project_btn:hover {
  background-color: #1C86FF;
  color: white;
}

.welling {
  height: 400px;
  width: auto;
  background-color:rgb(0,0,60);
  border: 2px solid black;
}

.project_img {
  max-width: 300px;
  max-height: 300px;
  margin: 25px;
  border: 3px solid white; 
}

#context {
  padding: 0px 60px;
}

#portfolio{
  height: auto;
  margin-top: -10px;
  padding: 35px 25px 25px 25px;
  background-color: rgb(179,179,179);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  position: relative;
}

#contact{
  margin-top: -10px;
  padding: 25px;
  background-color: rgb(70,70,70);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  color: white;
  position: relative;
  height:auto;
}

.border_icon {
  background: rgba(0, 0, 0, 0.4);
  color: rgb(0,0,60);
  border-radius: 100%;
  border: 6px solid rgb(0,0,60);
  font-size: 12px;
  height: 40px;
  width: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.border_icon:hover {
  color: #1C86FF;
  border: 6px solid #1C86FF;
  text-decoration: none;
}

#icon_list li a {
  text-decoration: none;
}

#last_bar {
  height: auto;
  background: rgb(0,0,60);
  color: white;
  margin-left:-15px;
  margin-right:-15px;
  padding: 15px 0px 5px 0px;
}

.background_repeat {
  background-image: url("http://enjoycss.com/webshots/42r_0.png");
  background-repeat: repeat;
}

p {
  word-wrap: break-word;
}

.contact_ending {
  padding-top:26%;
}

#about {
  color: white;
  height: auto;
  background-color: rgb(179,179,179);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#ffc_icon {
  color: green;
}

#ffc_icon:hover {
  color: #1C86FF;
}

/*More possibilities for this icon in future*/
#music_icon {
  color: white;
}

#icon_list {
  list-style-type: none;
}